* {
	margin: 0;
	padding: 0;
}

/** FONTS **/
@font-face {
	font-family: 'opens-sans-regular';
  src: url('../assets/AdobeCaslon/ACaslonPro-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'open-sans-semi-bold';
	src: url('../assets/AdobeCaslon/ACaslonPro-Semibold.otf') format('opentype');
}

p {
	font-family: 'open-sans-regular', sans-serif;
}

.bold-text {
	font-family: 'open-sans-semi-bold', sans-serif;
}
/** FONTS **/

/** NAVBAR **/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A3591;
    min-height: 75px;
}

li {
    float: right;
}

.logo {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 25px;
}
/** NAVBAR **/


.hp {
		background-image:
		linear-gradient(
			rgba(255, 243, 0, 0.9),
			rgba(255, 243, 0, 0.9)
		),
		url('../assets/PowershiftAssets-01.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.hp-text {
	text-align: center;
	padding-top: 20%;
}

.hp-text > h1 {
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 20px;
}

.hp-text > p {
	font-size: 30px;
	padding-bottom: 40px;
}

.primary {
	color: #2A3591;
}

button {
	color: white;
	background-color: #EF1716;
	border-color: transparent;
	padding: 20px 20px 20px 20px;
	font-weight: bold;
	font-size: 25px;
	border-radius: 4px;
}

.btn-space {
	margin-right: 120px;
}

body, html {
    height: 100%;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #111;
}*/
