* {
	margin: 0;
	padding: 0;
}

/** FONTS **/
@font-face {
	font-family: 'moon-bold';
  src: url();
}

@font-face {
	font-family: 'moon-light';
	src: url();
}
/** FONTS **/

/** NAVBAR **/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A3591;
    min-height: 75px;
}

li {
    float: right;
}

.logo {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 25px;
}
/** NAVBAR **/


.hp {
		background-image:
		linear-gradient(
			rgba(255, 243, 0, 0.9),
			rgba(255, 243, 0, 0.9)
		),
		url('../assets/PowershiftAssets-01.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.primary {
	color: #2A3591;
}

body, html {
    height: 100%;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #111;
}*/
