* {
	margin: 0;
	padding: 0;
}

/** FONTS **/
@font-face {
	font-family: 'moon-light';
  src: url('../assets/Moon/moon-light.otf') format('opentype');
}

@font-face {
	font-family: 'moon-bold';
	src: url('../assets/Moon/moon-bold.otf') format('opentype');
}

p {
	font-family: 'moon-light', sans-serif;
	text-transform: capitalize;
}

.bold-text {
	font-family: 'moon-bold', sans-serif;
}
/** FONTS **/

/** NAVBAR **/
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A3591;
    min-height: 75px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
}

.nav > li {
    float: right;
}

.logo {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 25px;

}

.logo-ps {
	height: auto;
	width: 256px;
	max-height: 78px;
	max-width: 350px;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 50px;
		font-size: 20px;
}
/** NAVBAR **/


.hp {
		background-image:
		linear-gradient(
			rgba(255, 243, 0, 0.9),
			rgba(255, 243, 0, 0.9)
		),
		url('../assets/PowershiftAssets-01.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
		z-index: -1000;
}

.hp-text {
	text-align: center;
	padding-top: 20%;
}

.hp-text > h1 {
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 20px;
}

.hp-text > p {
	font-size: 30px;
	padding-bottom: 40px;
}

.primary {
	color: #2A3591;
}

button {
	color: white;
	background-color: #EF1716;
	border-color: transparent;
	padding: 20px 20px 20px 20px;
	font-weight: bold;
	font-size: 25px;
	border-radius: 4px;
}

.btn-space {
	margin-right: 120px;
}

.main {
	background-image:
	linear-gradient(
		rgba(255, 255, 255, .89),
		rgba(255, 255, 255, .89)
	),
	url('../assets/Powershift-Assets-White.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	/*opacity: 0.05;*/
	filter: alpha(opacity=30); /* For IE8 and earlier */
	z-index: -1000;
	/*position: absolute;*/

}
.subnav {
	color:#2A3591;
	padding-top: 40px;
	font-size: 20px;

}

.subnav li {
	display: inline;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 20px;

}

body, html {
    height: 100%;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #111;
}*/
